<!-- Main Content -->
<!-- <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main> -->
  <html>
    <%- include partials/header.ejs %>
        <%- include partials/main_nav.ejs %>
    
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
    
            </head>
    
            <body>
                <div class="jumbotron">
                    <div style="display: flex;justify-content: space-between;">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/flohtie.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Floh time</h5>
                                <p class="card-text">This project is all about to observe current traffic details between requested locations and based on that provide information to users. It also has capability to forecast the traffic based on the previous records. </p>
                                <a href="https://flohtime.com" target="_blank" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/watchsite.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Watch shopping site </h5>
                                <p class="card-text">this project or site seems best platform to buy watches online as it contains the top range quality, variation of filters and quick payment methode which ease customers to shop.</p>
                                <a href="https://watchingeyes.com" target="_blank" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/pdfconverter.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Document convertion</h5>
                                <p class="card-text">ease to change the types of documents using this site. It provides various combination which useful to user to convert docs.
                                </p>
                                <a href="https://pdf2doc.com/" target="_blank" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/B2B.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">B2B Project</h5>
                                <p class="card-text">it is Bussiness to business project where sellers and customers can communicate and increase the sales.</p>
                                <a href="https://dheerta.com/" target="_blank" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </body>
    
    </html>
    
    
    <%- include partials/bottom_nav.ejs %>
    
        <%- include partials/footer.ejs %>